@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ESPAÇO PARA O NAVBAR*/
.aStyle {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

    .aStyle:hover {
        opacity: 0.7;
    }

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left:10%;
}

.contentnavbar {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #131219;
    height: 90px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left:1000px;
  
}

    .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;
    }

.mobile-menu {
    display: none;
    cursor: pointer;
}

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }

.login{
    padding-left:5%;
}
/*FIM NAVBAR*/

/*CÓDIGO PARA P INICIO DO SLIDE*/
.load {
    animation: slide 2s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 93vh;
    animation: slide 19s infinite;
}

.content {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}

@keyframes slide {
    0% {
        background-image: url(/img/slide/goku.jpg);
    }

    20% {
        background-image: url(/img/slide/goku.jpg);
    }

    20.01% {
        background-image: url(/img/slide/jujutsu.jpg);
    }

    40% {
        background-image: url(/img/slide/jujutsu.jpg);
    }

    40.01% {
        background-image: url(/img/slide/DemonSlayer1.png);
    }

    60% {
        background-image: url(/img/slide/DemonSlayer1.png);
    }

    60.1% {
        background-image: url(/img/slide/yourName.jpg);
    }

    80% {
        background-image: url(/img/slide/yourName.jpg);
    }

    80.01% {
        background-image: url(/img/slide/DemonSlayer.png);
    }

    100% {
        background-image: url(/img/slide/DemonSlayer.png);
    }
}

/*FIM DO SLIDE*/
/*INICIO IMAGENS EM CARROSEL*/
.image-section {
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(19,28,25,1) 0%, rgba(88,83,114,1) 90% );
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
    background: #62667f;
}

.swiper-slide--two span {
    background: #087ac4;
}

.swiper-slide--three span {
    background: #b45205;
}

.swiper-slide--four span {
    background: #087ac4;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

.swiper-slide p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}

.swiper-slide svg {
    color: #fff;
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/img/ImageCarrossel/jujutsukaisen.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/img/ImageCarrossel/onepiece.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/img/ImageCarrossel/demonslayer.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/img/ImageCarrossel/narutoshippuden.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/img/ImageCarrossel/youname.jpg) no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}
/*FIM IMAGENS EM CARROSEL*/

/*TELA LOGIN*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.blogin{
    
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url('../img/fundologin.jpg') no-repeat;
    background-size:cover;
    background-position:center;
}
.wrapper{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius:10px;
    padding:30px 40px;
}
.wrapper h1{
    font-size:36px;
    text-align:center;
}

.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
}

.input-box input{
    width: 100%;
    height:100%;
    background-color:transparent;
    border: none;
    outline:none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius:40px;
    font-size:16px;
    color:white;
    padding:20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:white;
}
.input-box i {
    position:absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:20px;
}
.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.remember-forgot label input{
    accent-color:#fff;
    margin-right:3px;
}
.remember-forgot a {
    color:#fff;
    text-decoration:none;
}
.remember-forgot a:hover{
    text-decoration:underline;
}
.wrapper .btn{
    width:100%;
    height:45px;
    background-color:#fff;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:16px;
    color:#333;
    font-weight:600;
}
/*FIM TELA LOGIN*/



.wrapper .register-link{
    font-size:14.5px;
    text-align:center;
    margin: 20px 0 15px;

}
.register-link p a {
    color:#fff;
    text-decoration:none;
    font-weight:600;

}
.register-link p a:hover{
    text-decoration:underline;
}

/*FIM TELA LOGIN*/
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 50vw;
        height: 52vh;
        background: #131219;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

        .nav-list li {
            margin-left: 0;
            opacity: 0;
        }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
