<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css' />
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/reset.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
<body>
    
    <header>
        <nav class="contentnavbar">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/Logo.png" />
            </a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="aStyle" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                </li>
                <li class="aStyle">
                    <a class="aStyle" href="#sessao1">Sobre</a>
                </li>
            </ul>
            <a class="login" asp-area="" asp-controller="Account" asp-action="Login">
                <img src="~/img/login.png" />
            </a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="border-top footer text-muted">
        <div class="footer">
            &copy; 2023 - SiteCompleto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/mobile-navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <script src="~/js/ImageIndexScript.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
