<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteCompleto</title>
    <environment include="Development">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/reset.css">
    </environment>
</head>
<body>
    <header>
        <nav class="content">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/Logo.png" />
            </a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="aStyle" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                </li>
                <li class="aStyle">
                    <a class="aStyle" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SiteCompleto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
  
    <script src="mobile-navbar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
