@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<!--ESPAÇO PARA O SLIDE-->
<div class="slider">
    <div class="load"></div>
    <div class=content>
        <div class="principal"></div>
    </div>
</div>
<!--FIM DO SLIDE -->