@{
    ViewData["Title"] = "Home Page";
}

<!--ESPAÇO PARA O SLIDE-->
<div class="slider">
    <div class="load"></div>
    <div class=content>
        <div class="principal"></div>
    </div>
</div>
<!--FIM DO SLIDE -->
<body class="bindex">
    <section class="star-wrapper">
          <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <h2 class="txth2">Mais Populares</h2>
        <!--Carrossel de Imagens-->
        <section class="image-section">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--one">
                        <span>AÇÃO</span>
                        <div>
                            <h2>Jujutsu Kaisen</h2>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--two">
                        <span>AVENTURA</span>
                        <div>
                            <h2>One Piece</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--three">
                        <span>FANTASIA</span>
                        <div>
                            <h2>Demon Slayer</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--four">
                        <span>AVENTURA</span>
                        <div>
                            <h2>Naruto Shippuden</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--five">
                        <span>ROMANCE</span>
                        <div>
                            <h2>Kimi No Na Wa</h2>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </section>
</body>

<!-- Fim Carrossel de Imagens-->