@{
    ViewData["Title"] = "Home Page";
}

<!--ESPAÇO PARA O SLIDE-->
<div class="slidersl">
    <div class="loadsl"></div>
    <div class=contentsl>
        <div class="principalsl"></div>
    </div>
</div>
<!--FIM DO SLIDE -->
<body class="bindex">
    <section class="star-wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <h2 class="txth2">Mais Populares</h2>
        <!--Carrossel de Imagens-->
        <section class="image-section">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--one">
                        <span>AÇÃO</span>
                        <div>
                            <h2>Jujutsu Kaisen</h2>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--two">
                        <span>AVENTURA</span>
                        <div>
                            <h2>One Piece</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--three">
                        <span>FANTASIA</span>
                        <div>
                            <h2>Demon Slayer</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--four">
                        <span>AVENTURA</span>
                        <div>
                            <h2>Naruto Shippuden</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--five">
                        <span>ROMANCE</span>
                        <div>
                            <h2>Kimi No Na Wa</h2>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <!--Bloco da Netflix-->
        <div class="divisao-imagemp">
            <p class="texto-projetosp">Somente na Netflix</p>


            <div class="containerp">
                <a href="apartamentoa.html">
                    <img alt="foto" src="/img/ajin.PNG" class="tamanho-imgp">
                </a>
            </div>
            <div class="containerp">
                <a href="apartamentob.html">
                    <div class="mobilep">
                        <img alt="foto" src="/img/castlevania.PNG" class="tamanho-imgp">
                    </div>

                </a>
            </div>
            <div class="containerp">
                <a href="apartamentoc.html">
                    <img alt="foto" src="/img/forestofpiano.PNG" class="tamanho-imgp">
                </a>
            </div>
            <div class="containerp">
                <a href="apartamentoc.html">
                    <img alt="foto" src="img/violetevergarden.PNG" class="tamanho-imgp">
                </a>
            </div>
            <div class="containerp">
                <a href="apartamentoc.html">
                    <img alt="foto" src="img/blame.PNG" class="tamanho-imgp">
                </a>
            </div>
        </div>
        <!---->
        <!--Quem somos-->
        <section id="sessao1" class="quem-somos">
            <div class="img-quem-somos">
                <h1>QUEM</h1>
                <div class="bloco-informacoes">
                    <p>
                        <b style="color:#4B2DEB">A empresa Anime Aí</b> é uma plataforma online dedicada a fornecer informações e entretenimento relacionados ao fascinante mundo dos animes. Com uma paixão profunda por essa forma única de animação japonesa, o site se destaca como um hub central para entusiastas,
                        oferecendo uma ampla gama de conteúdos exclusivos.
                        <br />
                        <br />
                        No coração da missão da  <b style="color:#4B2DEB">Anime Aí</b> está o compromisso de compartilhar
                            análises detalhadas, resenhas de episódios, e notícias frescas do 
                        universo dos animes. Os redatores especializados garantem que os 
                        usuários estejam sempre atualizados sobre os lançamentos mais recentes,
                        além de fornecerem insights aprofundados sobre as tramas, personagens
                        e tendências do mundo anime.
                        <br />
                        <br />
                        Além disso,  <b style="color:#4B2DEB">
                            a Anime Aí não é apenas uma fonte de informações</b>,
                            mas também um ponto de encontro para a comunidade apaixonada de fãs de
                        animes. Com fóruns ativos, eventos online e espaços interativos, o 
                        site cria uma atmosfera acolhedora, onde os amantes de animes podem 
                        compartilhar suas experiências, recomendações e debates animados.
                        <br />
                        <br />
                        <b style="color:#4B2DEB">É assim que nasce a Anime Aí</b>

                    </p>
                </div>
            </div>
            <h1 class="h1-quem-somos">SOMOS</h1>
        </section>
</body>

<!-- Fim Carrossel de Imagens-->