@{
    ViewData["Title"] = "Home Page";
}

<!--ESPAÇO PARA O SLIDE-->
<div class="slidersl">
    <div class="loadsl"></div>
    <div class=contentsl>
        <div class="principalsl"></div>
    </div>
</div>
<!--FIM DO SLIDE -->
<body class="bindex">
    <section class="star-wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <h2 class="txth2">Mais Populares</h2>
        <!--Carrossel de Imagens-->
        <section class="image-section">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--one">
                        <span>AÇÃO</span>
                        <div>
                            <h2>Jujutsu Kaisen</h2>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--two">
                        <span>AVENTURA</span>
                        <div>
                            <h2>One Piece</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--three">
                        <span>FANTASIA</span>
                        <div>
                            <h2>Demon Slayer</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--four">
                        <span>AVENTURA</span>
                        <div>
                            <h2>Naruto Shippuden</h2>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide--five">
                        <span>ROMANCE</span>
                        <div>
                            <h2>Kimi No Na Wa</h2>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <!--Bloco da Netflix-->
        <div class="divisao-imagemp">
            <p class="texto-projetosp">Somente na Netflix</p>


            <div class="containerp">
                <a href="apartamentoa.html">
                    <img alt="foto" src="/img/ajin.PNG" class="tamanho-imgp">
                </a>
            </div>
            <div class="containerp">
                <a href="apartamentob.html">
                    <div class="mobilep">
                        <img alt="foto" src="/img/castlevania.PNG" class="tamanho-imgp">
                    </div>

                </a>
            </div>
            <div class="containerp">
                <a href="apartamentoc.html">
                    <img alt="foto" src="/img/forestofpiano.PNG" class="tamanho-imgp">
                </a>
            </div>
            <div class="containerp">
                <a href="apartamentoc.html">
                    <img alt="foto" src="img/violetevergarden.PNG" class="tamanho-imgp">
                </a>
            </div>
            <div class="containerp">
                <a href="apartamentoc.html">
                    <img alt="foto" src="img/blame.PNG" class="tamanho-imgp">
                </a>
            </div>
        </div>
        <!--CARD SLIDER-->
        <section class="principal-card">
            <div class="containercard">
                <div class="slide-container-card">
                    <div class="wrapper-card">
                        <div class="card">
                            <div class="image-box-card">
                               <img alt="foto" src="/img/comedia/bungo.png" />
                            </div>

                            <div class="name-anime-card">
                                <h3 class="name-card"> Bungo Stray Dogs</h3>
                                <h4 class="producer">Kadokawa Pictures Inc</h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

<!-- Fim Carrossel de Imagens-->